<div class="phx-hero">
  <!--
  The <%= %> brackets surround the code we want to substitute into the rendered page.
  @name will have the value of the :name option that we passed from controller
  -->
  <h2>Hello World, from <%= String.capitalize @name %>!</h2>
</div>
